%h1 Listing links

.row
  .col-sm-10
    %table.table.table-striped
      %thead
        %tr
          %th Target URL
          %th Short Link
          %th Count
          %th

      %tbody
        - @links.each do |link|
          %tr
            %td= link.url
            %td= link_to root_url + link.slug, root_url + link.slug, target: '_blank'
            %td= link.clicks.count
            %td
              =link_to 'Show', link
              |
              =link_to 'Edit', edit_link_path(link)
              |
              = link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }

= will_paginate @links, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
